extends index.pug

block content
  div.container
    h5!= subheadline
    p!= message
    div.row
      div.col-2 ID
      div.col-6 #{tagId}
    div.row
      div.col-2 Titel
      div.col-6 #{mediaTitle}
    div.row
      div.col-2 ID
      div.col-6 #{trackId}
    div.row
      div.col-2 Track Name
      div.col-6 #{trackName}
    div.row
      div.col-2 Track Nr
      div.col-6 #{trackNo}
    div.row
      div.col-2 Disk Nr
      div.col-6 #{diskNo}
    div.row
      div.col-2 Dateipfad
      div.col-6 #{trackPath}
    div.row
      div.col-2 Letzte Position
      div.col-6 #{lastPosition}
    div.row
      div.col-2 Abgespielt
      div.col-6 #{playCount}
    div.row
      div.col-2 N&auml;chste Datei
      div.col-6 #{nextTrackId}
    div.row
      div.col-2 Vorherige Datei
      div.col-6 #{prevTrackId}
