extends index.pug

block content
  div.container
    div.content
      div.page-body
        h5!= subheadline
        p!= messagetext

        div.row
          div.col-1 TagId
          div.col-2 File
          div.col-8 Endpoint
          div.col-1 Link
        for tag in varTags
          div.row
            div.col-1
              p #{tag.tag}
            div.col-2
              p #{tag.file}
            div.col-8
              p #{tag.endpoint}
            div.col-1
              a(href = `${tag.endpoint}`)
                img.className#IdName(src="/img/link-32.png" alt="Link")
