extends index.pug

block content
  div.container
    div.content
      div.page-body
        h5!= subheadline
        p!= messagetext
        
        div.row
          div.col-1 Name
          div.col-6 Endpunkt
          div.col-4 Beschreibung
          div.col-1 Link
        for endpoint in varEndpoints
          div.row
            div.col-1
              p #{endpoint.AppName}
            div.col-6
              p #{endpoint.endpoint}
            div.col-4
              p #{endpoint.description}
            div.col-1
              a(href = `${endpoint.endpoint}`)
                img.className#IdName(src="/img/link-32.png" alt="Link")
