extends index.pug

block content
  div.container
    h5!= subheadline
    p!= messagetext

    div.row
      div.col-1 Command
      div.col-5 Beschreibung
      div.col-5 Endpoint
      div.col-1 Link
    for endpoint in endpoints
      div.row
        div.col-1
          p #{endpoint.shortcut}
        div.col-5
          p #{endpoint.description}
        div.col-5
          p #{endpoint.endpoint}
        div.col-1
          a(href = `${endpoint.endpoint}`)
            img.className#IdName(src="/img/link-32.png" alt="Link")
